:root {
  --font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway", sans-serif;
  --primary-color-slate: #434455;
  --secondary-color-navy-blue: #2e2f42;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--primary-color-slate);
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.header-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--secondary-color-navy-blue);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link.current::after {
  content: "";
  display: block;
  width: 48px;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
}

.header-logo {
  font-family: var(--second-font-family);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-slate);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: var(--secondary-color-navy-blue);
  padding: 188px 0;
  height: 600px;
}

.hero-section {
  content: "";
  max-width: 1440px;
  height: 600px;
  top: 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}

.hero-title {
  font-family: var(--font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.order-button {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.feature-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-element {
  width: calc((100% - 72px) / 4);
}

.feature-icon-container {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(244, 244, 253, 1);
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-title {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-navy-blue);
  margin-bottom: 8px;
}

.feature-description {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-slate);
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color-navy-blue);
  margin-bottom: 72px;
}
.team-card-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-container {
  padding: 32px 0;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 24px;
  margin-top: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
  border-radius: 50%;
}

.element-title {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.element-description {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-slate);
  text-align: center;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-element {
  width: calc((100% - 48px) / 3);
}

.portfolio-caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.logo-footer {
  font-family: var(--second-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}

.footer {
  background-color: var(--secondary-color-navy-blue);
  padding: 100px 0;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-icons {
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
